<!DOCTYPE html>
<html>
<head>
    <title>Button Actions</title>

</head>
<body>
    <button type="button" class="btn btn-outline-dark" id="printBtn">PRINT TEXT</button>
    <button type="button" class="btn btn-outline-dark" id="boldBtn">BOLD</button>
    <button type="button" class="btn btn-outline-dark" id="italicBtn">ITALIC</button>
    <button type="button" class="btn btn-outline-dark" id="underlineBtn">UNDERLINE</button>
    <button type="button" class="btn btn-outline-dark" id="resetBtn">RESET</button>
    <br>
    <h1> <label id="outputLabel"></label></h1>
    <script src="~/Scripts/test2.js"></script>

</body>
</html>

